.table-links {
    font-size: 1rem;
    line-height: 1.5;
}

.body-text {
    display: inline-block;
    max-width: 75ch;
    font-size: 1.125rem;
    line-height: 1.5;
}

a {
    font-size: 1.125rem;
    line-height: 1.5;
}
